:root {
  --color-primary: #2584ff;
  --colr-secondary: #5a9aec;
  --color-accent: rgb(230, 72, 32);
  --color-heading: rgb(27, 27, 27);
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Vazir-Bold.eot");
  src: url("../fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir-Bold.woff2") format("woff2"),
    url("../fonts/Vazir-Bold.woff") format("woff"),
    url("../fonts/Vazir-Bold.ttf") format("truetype");
}
body {
  font-family: "Vazir", Arial, sans-serif;
  font-weight: normal;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  background-color: rgb(41, 40, 40);
  color: rgb(177, 177, 177);
}
.logo {
}

.nav-item {
  padding: 0.8rem;
}

.nav-item:hover {
  color: #fff;
  cursor: pointer;
  transition: color 0.5s;
  border-bottom: 1px solid white;
}
@media screen and (min-width: 700px) {
  .nav {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}
/* Links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  transition: margin 0.2s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1000px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-heading);
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 2rem;
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
